backcall==0.1.0
cycler==0.10.0
decorator==4.3.0
et-xmlfile==1.0.1
ipython==6.5.0
ipython-genutils==0.2.0
jdcal==1.4
jedi==0.12.1
kiwisolver==1.0.1
matplotlib==2.2.3
numpy==1.15.1
opencv-python==3.4.2.17
openpyxl==2.5.5
pandas==0.23.4
parso==0.3.1
pdftabextract==0.3.0
pexpect==4.6.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.6.0
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
scipy==1.1.0
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
wcwidth==0.1.7
